.product-list, .create-product, .edit-product{
    margin-top: 10%;
}

.card-body{
    border: none;
}

.btn-success{
    margin-bottom: 10px;
    padding: 5px 20px;
}

.customer-list{
    width: 1700px;
    position: relative;
    left: -200px;
}

.card-title--red{
    color: red;
}

.fa-circle-check{
    color: rgb(51, 232, 63);
}